Repository cristianrodri/goal-measurement-next: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "bash -c tsc --noEmit"
  ],
  "*.{js,jsx,ts,tsx,json,css,scss,md}": ["prettier --write"]
}

Add lint-staged to pre-commit
  .husky/pre-commit
Due: none

Add a src parent folder
  src/pages/_app.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Setting up testing workflow
  .babelrc
  .eslintrc.json
  jest.config.js
  jest.setup.ts
  package.json
  yarn.lock
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Run test in pre-push
  .husky/pre-push
Due: none

Run test before push to remote branch by calling npm run test instead of yarn test
  .husky/pre-push
Due: none

Test pre push with husky
  src/styles/globals.css
Due: prettier --write

Delete pre-push file
  .husky/pre-push
Due: none

Add pre-push and run npm test
  .husky/pre-push
Due: none

Change to yarn jest in pre-push file
  .husky/pre-push
Due: none

add --passWithNoTest test call in pre-push file
  .husky/pre-push
Due: none

VScode setting file added
  .vscode/settings.json
Due: prettier --write

Setup custom styles.css
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
  src/styles/styles.css
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Material ui setup
  package.json
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Setup ThemeMuiContainer
  src/context/ThemeMuiProvider.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/styles.css
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Paths and baseUrl properties are added into compilerOptions into tsconfig file
  src/pages/_app.tsx
  tsconfig.json
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

PageLayout component is added and will be used in all pages as a container
  src/components/PageLayout.tsx
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Setup favicon and logo
  public/favicon.ico
  public/favicon.svg
  public/logo.svg
  src/context/ThemeMuiProvider.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Page logo is added and tested
  jest.config.js
  src/components/Logo/Logo.test.tsx
  src/components/Logo/Logo.tsx
  src/components/Logo/index.ts
  src/components/PageLayout/PageLayout.test.tsx
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/index.ts
  src/pages/index.tsx
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Add dimensions into the PageLayout component
  src/components/PageLayout/PageLayout.tsx
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Title is added and tested in the homepage
  src/components/pages/homepage/Title.tsx
  src/pages/index.tsx
  src/test/Homepage.test.tsx
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Title, subtitle and button actions is added in the homepage
  src/components/PageLayout/PageLayout.tsx
  src/components/pages/homepage/Title.tsx
  src/pages/index.tsx
  src/test/Homepage.test.tsx
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Testing login and signup button href attribute
  src/pages/index.tsx
  src/test/Homepage.test.tsx
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Wrap with next link component the signup and login button in the homepage
  src/pages/index.tsx
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Signup and login pages are created
  src/pages/login.tsx
  src/pages/signup.tsx
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Add the future image component into the logo
  next.config.js
  src/components/Logo/Logo.tsx
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Signup page structure is added
  package.json
  src/pages/signup.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

signup test page is added
  next.config.js
  src/test/Signup.test.tsx
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write
